html, body {
  margin: 0;
  padding: 0;
  line-height: 1;
  font-family: "PT Sans", "Arial Narrow", Arial, sans-serif;
  font-weight: 600;
  scroll-behavior: smooth;
}

.last-name, .email, .dates {
  color: #2b67ff;
}

.job-desc {
  font-size: 18px;
  font-weight: 400;
  color: #abaeb5;
  padding-right: 12em;
}

hr {
  margin: 1.5em 10em 1.5em 0;;
}

.dates {
  float: right;
  clear: both;
}

.flexbox {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 20em;
  height: 100%;
  background: #2b67ff;
  top: 0;
}

.flexbox > p {
  margin: 0 auto;
  padding-bottom: 40px;
  text-transform: uppercase;
}

.side-panel {
  color: #abaeb5;
}

.address, .company-name {
  text-transform: uppercase;
  color: #abaeb5;
}

.title {
  text-transform: uppercase;
}

.bio {
  color: #abaeb5;
}

.company-name {
  margin-top: -.5em;
}

.pro-pic {
  margin-top: 10em;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
  width: 160px;
  height: 160px;
  line-height: 50px;
  /* border: 20px solid #92C0FC; */
  box-shadow: 0px 0px 4px 20px rgba(146,192,252,.5);
}

#about-bar {
  margin-top: 2em;
}

.scrollable {
  padding-left: 22em;
  padding-right: 3em;
}

section {
  height: 38em;
}

#about {
  padding-top: 12em;
}

#experience > h1, #education > h1 {
  margin-bottom: 2em;
}

#experience > h1 {
  margin-top: 2em;
}

.proj-img {
  width: 20em;
  margin-bottom: 2em;
}

.ebe {
  height: 26em;
  overflow: hidden;
}

.qod {
  width: 20em;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #403F3F;
}

.margin-top {
  margin-top: -7px;
}

#about > h1 {
  font-size: 3em;
  margin-bottom: -10px;
}

.scroll {
  color: white;
}

.dates {
  font-size: 16px;
  text-transform: capitalize;
  padding-right: 4em;
}
