html, body {
  margin: 0;
  padding: 0;
  line-height: 1;
  font-family: "PT Sans", "Arial Narrow", Arial, sans-serif;
  font-weight: 600;
  scroll-behavior: smooth;
}

.last-name, .email, .dates {
  color: #2b67ff;
}

.job-desc {
  font-size: 16px;
  font-weight: 400;
  color: #abaeb5;
}

.desc {
  font-size: 16px;
  font-weight: 400;
  color: #abaeb5;
}

hr {
  margin: 30px 20px 0 10px;
}

h1 {
  font-size: 26px;
  margin: 35px 0;
}

.portfolio-header {
  margin-bottom: 10px;
}

.dates {
  float: right;
  clear: both;
}

.flexbox {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 25%;
  height: 100%;
  background: #2b67ff;
  top: 0;
}

.flexbox > p {
  margin: 0 auto;
  padding-bottom: 40px;
  text-transform: uppercase;
}

.side-panel {
  color: #abaeb5;
  font-size: 18px;
}

.address, .company-name {
  text-transform: uppercase;
  color: #abaeb5;
  font-size: 18px;
}

.title {
  text-transform: uppercase;
  font-size: 22px;
}

.bio {
  color: #abaeb5;
  font-size: 16px;
}

.company-name {
  margin-top: -10px;
}

.pro-pic {
  margin-top: 85%;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
  width: 160px;
  height: 160px;
  line-height: 50px;
  box-shadow: 0px 0px 3px 15px rgba(146,192,252,.5);
}

#about-bar {
  margin-top: 40px;
}

.scrollable {
  padding-left: 28%;
  padding-right: 5%;
}

section {
  height: 950px;
}

#education {
  height: 885px;
}

#about {
  padding-top: 30%;
}

#experience > h1, #education > h1 {
  margin-bottom: 20px;
}

#experience > h1 {
  margin-top: 20px;
}

.proj-img {
  width: 400px;
  margin-bottom: 30px;
}

.ebe {
  height: 250px;
  overflow: hidden;
}

.qod {
  width: 400px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #403F3F;
}

.margin-top {
  margin-top: -6px;
}

#about > h1 {
  font-size: 60px;
  margin-bottom: -10px;
}

.scroll {
  color: white;
  font-size: 18px;
}

.dates {
  font-size: 16px;
  text-transform: capitalize;
  padding-right: 40px;
}

.fa-angle-double-down {
  font-size: 40px;
  margin-left: 33%;
  margin-top: 22%;
}

.hide {
  display: none;
}

.black {
  color: black;
}